.container__div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #36393f;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  position: absolute;
  bottom: 0;
}

.sub__container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  gap: 25px;
}
